
{
"rele_on"  : "****************************************",
"check_ip" : "еach relay corresponds to the index 0-7" ,
"check_ip" : "ip      - server each to be checked"     ,
"check_ip" : "pin_out - rele adress"                   ,
"rele_on"  : "****************************************",


"rele_on"  : "****************************************",
"check_ip" : "check ip address? True - yes, false - no",
"rele_on"  : "****************************************",

"check_ip" : false,

"rele_on"  : "****************************************",
"rele_on"  : "Parameters when the relay is turn on"    ,
"rele_on"  : "****************************************",
"rele_on"  :
	[
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x00"
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x01" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x02"
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x03" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x04" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x05"
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x06"
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x07"
	}
	],

"rele_off"  : "***************************************",
"rele_off"  : "Parameters when the relay is turn off"  ,
"rele_off"  : "***************************************",
"rele_off"  :
	[
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x00"
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x01"
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x02"
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x03" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x04" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x05"
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x06" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x07" 
	}
	],
"i2cbus" :
	[
	{
		"module_address" : "0x48",                                                  

		"volts"          : "****************************************************************************",
		"volts"          : "GAIN_TWOTHIRDS - 2/3x gain   +/- 6.144V  1 bit = 3mV      0.1875mV (default)",
		"volts"          : "GAIN_ONE       -   1x gain   +/- 4.096V  1 bit = 2mV      0.125mV"           ,
		"volts"          : "GAIN_TWO       -   2x gain   +/- 2.048V  1 bit = 1mV      0.0625mV"          ,
		"volts"          : "GAIN_FOUR      -   4x gain   +/- 1.024V  1 bit = 0.5mV    0.03125mV"         ,
		"volts"          : "GAIN_EIGHT     -   8x gain   +/- 0.512V  1 bit = 0.25mV   0.015625mV"        ,
		"volts"          : "GAIN_SIXTEEN   -   16x gain  +/- 0.256V  1 bit = 0.125mV  0.0078125mV"       ,
		"volts"          : "****************************************************************************",

		"volts"          : "GAIN_ONE",

		"pins"		 : "****************************************************************************",
		"pins"		 : "0: AINP = AIN0 и AINN = GND"                 				 ,
		"pins"		 : "1: AINP = AIN0 и AINN = GND"		 				 ,
		"pins"		 : "2: AINP = AIN1 и AINN = GND"		 				 ,
		"pins"		 : "3: AINP = AIN2 и AINN = GND"		 				 ,
		"pins"		 : "****************************************************************************",

		"pins"		 :
			[
				 {
				 "pin"	   : 0,
				 "rele_pin": "0x00"
				 },
				 {
				 "pin"	   : 1,
				 "rele_pin": "0x01"
				 },
				 {
				 "pin"	   : 2,
				 "rele_pin": "0x02"
				 },
				 {
				 "pin"	   : 3,
				 "rele_pin": "0x03"
				 }
			]
	}
	]
}
