
{
"check_ip" : "еach relay corresponds to the index 0-7",
"check_ip" : "ip      - server each to be checked",
"check_ip" : "pin_out - rele adress",
"check_ip" : "pin_in  - In the future, this will be the address of the Hall sensors",


"check_ip" : "check ip address? True - yes, false - no",
"check_ip" : false,

"rele_on"  : "Parameters when the relay is turn on",
"rele_on"  :
	[
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x00", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x01", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x02", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x03", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x04", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x05", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x06", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "95.213.11.180", 
		"pin_out" : "0x07", 
		"pin_in"  : "0x00" 
	}
	],

"rele_off"  : "Parameters when the relay is turn off",
"rele_off"  :
	[
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x00", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x01", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x02", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x03", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x04", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x05", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x06", 
		"pin_in"  : "0x00" 
	},
	{ 
		"ip"      : "pochta.ru", 
		"pin_out" : "0x07", 
		"pin_in"  : "0x00" 
	}
	]
}
