
{

"logs" 		: "****************************************",
"logs" 		: "turn on logs? True - yes, false - no    ",
"logs" 		: "****************************************",

"logs"	   	: true,


"check_ip" 	: "****************************************",
"check_ip" 	: "check ip address? True - yes, false - no",
"check_ip" 	: "****************************************",

"check_ip" 	: false,

"check_ads"	: "****************************************",
"check_ads"	: "check adc? True - yes, false - no       ",
"check_ads"	: "****************************************",

"check_ads"	: false,

"ssh_control"	: "****************************************",
"ssh_control"	: "ssh control? True - yes, false - no     ",
"ssh_control"	: "poweroff, reboot                        ",
"ssh_control"	: "****************************************",

"ssh_control"	: false,

"temp_control"	: "****************************************",
"temp_control"	: "Temperature control?                    ",
"temp_control"	: "True - yes, false - no                  ",
"temp_control"	: "****************************************",

"temp_control"	: true,
"work_capacity" : true,
"check_sleep"	: 60,
"email"		: "pavlenkocraft@gmail.com",

"rele" 		: "+---------+----------------------------+",
"rele" 		: "| ip      | server each to be checked  |",
"rele" 		: "| pin_out | rele adress                |",
"rele" 		: "+---------+----------------------------+",
                                            
"gain"          : "+---------------+-----------+------------+-----------------+--------------------+",
"gain"          : "|GAIN_TWOTHIRDS | 2/3x gain | +/- 6.144V | 1 bit = 3mV     | 0.1875mV (default) |",
"gain"          : "|GAIN_ONE       |   1x gain | +/- 4.096V | 1 bit = 2mV     | 0.125mV            |",
"gain"          : "|GAIN_TWO       |   2x gain | +/- 2.048V | 1 bit = 1mV     | 0.0625mV           |",
"gain"          : "|GAIN_FOUR      |   4x gain | +/- 1.024V | 1 bit = 0.5mV   | 0.03125mV          |",
"gain"          : "|GAIN_EIGHT     |   8x gain | +/- 0.512V | 1 bit = 0.25mV  | 0.015625mV         |",
"gain"          : "|GAIN_SIXTEEN   |  16x gain | +/- 0.256V | 1 bit = 0.125mV | 0.0078125mV        |",
"gain"          : "+---------------+-----------+------------------------------+--------------------+",
"gain"          : "GAIN_ONE",
"rele"  	:
	[
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x00",
		"hall_address"	: "0x48",
		
		"pin_hall"	: "+---+--------------------------+",
		"pin_hall"	: "| 0 | AINP = AIN0 и AINN = GND |",
		"pin_hall"	: "| 1 | AINP = AIN0 и AINN = GND |",
		"pin_hall"	: "| 2 | AINP = AIN1 и AINN = GND |",
		"pin_hall"	: "| 3 | AINP = AIN2 и AINN = GND |",
		"pin_hall"	: "+---+--------------------------+",
		
		"pin_hall"	: "0x00",
		"term_address"	: "0x4a",
		
		"pin_term"	: "+---+--------------------------+",
		"pin_term"	: "| 0 | AINP = AIN0 и AINN = GND |",
		"pin_term"	: "| 1 | AINP = AIN0 и AINN = GND |",
		"pin_term"	: "| 2 | AINP = AIN1 и AINN = GND |",
		"pin_term"	: "| 3 | AINP = AIN2 и AINN = GND |",
		"pin_term"	: "+---+--------------------------+",
		
		"pin_term"	: "0x00"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x01",
		"hall_address"	: "0x48",
		"pin_hall"	: "0x01",
		"term_address"	: "0x4a",
		"pin_term"	: "0x01"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x02",
		"hall_address"	: "0x48",
		"pin_hall"	: "0x02",
		"term_address"	: "0x4a",
		"pin_term"	: "0x02"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x03",
		"hall_address"	: "0x48",
		"pin_hall"	: "0x03",
		"term_address"	: "0x4a",
		"pin_term"	: "0x03"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x04",
		"hall_address"	: "0x49",
		"pin_hall"	: "0x00",
		"term_address"	: "0x4b",
		"pin_term"	: "0x00"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x05",
		"hall_address"	: "0x49",
		"pin_hall"	: "0x01",
		"term_address"	: "0x4b",
		"pin_term"	: "0x01"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x06",
		"hall_address"	: "0x49",
		"pin_hall"	: "0x02",
		"term_address"	: "0x4b",
		"pin_term"	: "0x02"
	},
	{ 
		"user"    	: "pi",
		"port"    	: 2200,
		"ip"      	: "95.213.11.180", 
		"pin_out" 	: "0x07",
		"hall_address"	: "0x49",
		"pin_hall"	: "0x03",
		"term_address"	: "0x4b",
		"pin_term"	: "0x03"
	}
	],

"rele_on"  	: "****************************************",
"rele_on"  	: "Parameters when the relay is turn on    ",
"rele_on" 	: "еach relay corresponds to the index 0-7 ",
"rele_on" 	: "****************************************",

"rele_on" 	: [0, 1, 2, 3, 4, 5, 6, 7],

"rele_off"  	: "***************************************",
"rele_off"  	: "Parameters when the relay is turn off"  ,
"rele_off"  	: "***************************************",

"rele_off"  	: [7, 6, 5, 4, 3, 2, 1, 0],
"hall_sensor":
	{
	"VPS_on"		: "voltage indicating no current",
	"VPS_on"		: 5,
	"VPS_off"		: "voltage indicating current",
	"VPS_off"		: 2.5,
	"eps"			: "calculation error",
	"eps"			: 0.5
	},
"term_sensor":
	{
	"ADS_min"		: 0,
	"ADS_max"		: 65535,
	"term_min"		: -20,
	"term_max"		: 100,
	"term_normal_min"	: 10,
	"term_normal_max"	: 40,
	"term_critical_min"	: 0,
	"term_critical_max"	: 70,
	"term_dangerous_min"	: -15,
	"term_dangerous_max"	: 90
	}
}
